ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.company-card{
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 360px;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-card h2{
  padding: 10px;
}
.id{
  position: absolute;
  top: 10px;
  left: 10px;
}

*{
  text-align: center;
  font-family: Arial;
}
